In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('LB_Task1.csv')

### Basic Data Quality Check

In [3]:
df.head()

,Contact Country,Full Name,First Name,Last Name,Job Title,Contact Seniority,Contact Department,Organization Country,Organization Name,Organization Size,Organization Phone Number
0,Indonesia,Liem Fung,Liem,Fung,Business Development Director,Director,"Business Management, Transportation, Distribut...",Indonesia,Bmj,1000,-
1,Philippines,Fe Cabading,Fe,Cabading,Director,Director,Administration and Management,Singapore,We Supply,9-Jan,-
2,Philippines,Jasper Cabuntocan,Jasper,Cabuntocan,General Manager,"CXO / C-Level, Manager",Administration and Management,Philippines,Exelpack Corporation,50 - 149,-
3,Singapore,Terry Kew,Terry,Kew,Design And Application Engineer,Others,NaN,Singapore,Knight Auto Precision Engineering Pte Ltd,9-Jan,+65 6267 8615
4,Philippines,Steve Tavera,Steve,Tavera,Asst. To The President,CXO / C-Level,Administration and Management,Philippines,Philippine Plastics Industry Association,Oct-49,+63 2 361 1160

In [4]:
df.dtypes

Contact Country              object
Full Name                    object
First Name                   object
Last Name                    object
Job Title                    object
Contact Seniority            object
Contact Department           object
Organization Country         object
Organization Name            object
Organization Size            object
Organization Phone Number    object
dtype: object

In [5]:
df.describe()

,Contact Country,Full Name,First Name,Last Name,Job Title,Contact Seniority,Contact Department,Organization Country,Organization Name,Organization Size,Organization Phone Number
count,200,200,200,200,200,200,191,200,200,200,200
unique,10,197,182,179,116,14,31,8,125,7,104
top,Singapore,richard creet,David,Ng,Director,Director,Administration and Management,Singapore,Ups,9-Jan,-
freq,163,2,3,6,24,63,122,159,22,69,29

Error type:
- column Contact Department has null values, 
- and column Organization Phone Number has unidentified value '-',
- organization size should have int type, instead it's object and lot of them has abnormal value that is similar to datetype
- name with number is considered an abnormal data

Things to notice:
- based on client brief, the requirements are based on:
    - location: Philippines, Indonesia, Thailand
    - industry: Banking and Financial Services
    - job titles: Risk, Collection, Collection Strategy, Retail Lending, Business Development, CRO
- date type of each column
- duplicate rows

Handling plan:
- for Contact Department, I will fill the nan value with keyword 'bank' or 'finance' based on Organization Name or Job Title
- for Organization Phone Number, I lookup briefly in excel the '-' value with another row that has the same organization name, it seems that it's not the case. We have no way of knowing these unidentified phone number, so we will leave it as it is
- for Organization Size, I think it's best not to use this column with consideration on:
    - I dont have the access to the data source for the raw data, it will be careless to assume the possible cased or the behaviour of the date-like type value in this column. 
    - the requirement on client brief are only based on loc, industry, and job titles. With each of their contact. Organization Size is nice to have but not mandatory
    Rather than give the client mislead data, I think it's best not to use this column at all. 
- I will filter the data based on the requirements in client brief
- All columns are best fitted to object data type.
    - except for Organization Size, but we wont use this column.
    - For Organization Phone Number it is much better to think of and treat them like addresses, so it'll be in object/char/str
- Ensure no duplicate row

In [6]:
df_nan = df[df.isna().any(axis=1)]
df_nan

,Contact Country,Full Name,First Name,Last Name,Job Title,Contact Seniority,Contact Department,Organization Country,Organization Name,Organization Size,Organization Phone Number
3,Singapore,Terry Kew,Terry,Kew,Design And Application Engineer,Others,NaN,Singapore,Knight Auto Precision Engineering Pte Ltd,9-Jan,+65 6267 8615
27,Philippines,Suzie Mitchell,Suzie,Mitchell,Philippines Country Manager,Manager,NaN,Singapore,Crown Lift Trucks,50 - 149,-
28,Singapore,Raymond Hong,Raymond,Hong,Manager - Operations,Manager,NaN,Singapore,Lf Logistics Services Pte. Ltd.,150 - 499,+65 6430 7288
39,Singapore,Zie Bakar,Zie,Bakar,Operation,Others,NaN,Singapore,Astro Pacific Pte Ltd,9-Jan,+65 6376 1200
86,Singapore,murugesh Murugeshan,murugesh,Murugeshan,Supervisor,Manager,NaN,Singapore,P-One (Tuas) Pte. Ltd.,Oct-49,+65 6634 0628
94,Singapore,Margaret Lau,Margaret,Lau,SVP,VP / Vice President,NaN,Singapore,Rcl Feeder Pte Ltd.,Oct-49,+65 6220 0388
105,Singapore,P RAJAGOPALAN,P,RAJAGOPALAN,C F O,CXO / C-Level,NaN,Singapore,Uniworld Logistics Pte. Ltd.,50 - 149,+65 1800 120 1599
126,Singapore,Clara Zi Yun,Clara,Zi Yun,Senior Assistant Operation,Others,NaN,Singapore,Lf Logistics Services Pte. Ltd.,150 - 499,+65 6430 7288
160,Singapore,Su ChengYi,Su,ChengYi,Director Of Engineering & Proposals,Director,NaN,Singapore,Optimum Water Technologies Pte. Ltd.,9-Jan,+65 9725 8124

In [7]:
missing_cols, missing_rows = (
    (df.isnull().sum(x) | df.eq('-').sum(x))
    .loc[lambda x: x.gt(0)].index
    for x in (0, 1)
)

df.loc[missing_rows, missing_cols]

,Contact Department,Organization Size,Organization Phone Number
0,"Business Management, Transportation, Distribut...",1000,-
1,Administration and Management,9-Jan,-
2,Administration and Management,50 - 149,-
3,NaN,9-Jan,+65 6267 8615
14,Administration and Management,9-Jan,-
27,NaN,50 - 149,-
28,NaN,150 - 499,+65 6430 7288
34,Administration and Management,9-Jan,-
35,Operation and Engineering,-,-
39,NaN,9-Jan,+65 6376 1200
44,Business Management,-,+65 6829 7004
46,Administration and Management,9-Jan,-
52,Administration and Management,9-Jan,-
59,Administration and Management,Oct-49,-
63,Administration and Management,Oct-49,-
83,Administration and Management,Oct-49,-
86,NaN,Oct-49,+65 6634 0628
91,Administration and Management,Oct-49,-
94,NaN,Oct-49,+65 6220 0388
95,"Marketing, Sales and Advertisement, Hospitalit...",-,+65 6324 1355
105,NaN,50 - 149,+65 1800 120 1599
119,Administration and Management,9-Jan,-
126,NaN,150 - 499,+65 6430 7288
130,Administration and Management,Oct-49,-
132,Administration and Management,9-Jan,-
155,Administration and Management,Oct-49,-
157,"Hospitality, Tourism, and Customer Service, Bu...",9-Jan,-
160,NaN,9-Jan,+65 9725 8124
166,"Hospitality, Tourism, and Customer Service",500 - 999,-
171,Administration and Management,9-Jan,-
179,"Operation and Engineering, Business Management",9-Jan,-
180,Administration and Management,1000,-
181,Human Resource Management,-,-
184,Administration and Management,-,-
185,"Administration and Management, Government and ...",50 - 149,-
188,Administration and Management,-,-
189,Accounting and Finance,-,-
190,IT,-,-
199,Administration and Management,Oct-49,-

### Handling

#### Contact Department

In [8]:
#if Organization Name has bank or finance word, we will put it as a Contact Department
df.loc[(df['Contact Department'].isnull().values.any()) & ((df['Organization Name'].str.contains('(?i)bank|finance')) | (df['Job Title'].str.contains('(?i)bank|finance'))), 'Contact Department'] = 'Finance Industry'
#if not, we will put others as Contact Department
df['Contact Department'] = df['Contact Department'].fillna('Others')

In [9]:
# #if Organization Name has bank or finance word, we will put it as a Contact Department
# df.loc[df['Contact Department'].isnull().values.any() and df['Organization Name'].str.contains('(?i)bank|finance'), 'Contact Department'] = 'Finance Industry'
# #if not, we will put others as Contact Department
# df['Contact Department'] = df['Contact Department'].fillna('Others')

In [10]:
df.head()

,Contact Country,Full Name,First Name,Last Name,Job Title,Contact Seniority,Contact Department,Organization Country,Organization Name,Organization Size,Organization Phone Number
0,Indonesia,Liem Fung,Liem,Fung,Business Development Director,Director,"Business Management, Transportation, Distribut...",Indonesia,Bmj,1000,-
1,Philippines,Fe Cabading,Fe,Cabading,Director,Director,Administration and Management,Singapore,We Supply,9-Jan,-
2,Philippines,Jasper Cabuntocan,Jasper,Cabuntocan,General Manager,"CXO / C-Level, Manager",Administration and Management,Philippines,Exelpack Corporation,50 - 149,-
3,Singapore,Terry Kew,Terry,Kew,Design And Application Engineer,Others,Others,Singapore,Knight Auto Precision Engineering Pte Ltd,9-Jan,+65 6267 8615
4,Philippines,Steve Tavera,Steve,Tavera,Asst. To The President,CXO / C-Level,Administration and Management,Philippines,Philippine Plastics Industry Association,Oct-49,+63 2 361 1160

#### Drop Organization Size

In [11]:
df = df.drop(['Organization Size'], axis=1)

#### Name with Number

In [12]:
df['Full Name '] = df['Full Name '].replace('\d', '', regex=True)
df['First Name'] = df['First Name'].replace('\d', '', regex=True)
df['Last Name'] = df['Last Name'].replace('\d', '', regex=True)

#### Cleansing Phone Number

In [13]:
df['Organization Phone Number'] = df['Organization Phone Number'].replace('-', '', regex=True)
df['Organization Phone Number'] = df['Organization Phone Number'].replace('\s', '', regex=True)

In [14]:
df['Organization Phone Number'] = df['Organization Phone Number'].str.replace('^$', '-', regex=True)

#### Filtered Data

In [15]:
df[df['Contact Country'].str.contains('(?i)philippines|indonesia|thailand')][df['Contact Department'].str.contains('(?i)bank|finance')][df['Job Title'].str.contains('(?i)risk|collection|collection\sstrategy|retail\slending|business\sdevelopment|cro')]

/Users/trixieevania/.local/lib/python3.6/site-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

Empty DataFrame
Columns: [Contact Country, Full Name , First Name, Last Name, Job Title, Contact Seniority, Contact Department, Organization Country, Organization Name, Organization Phone Number]
Index: []

Since there are no data match with the requirement above, I will try different approach.
I will combine data with reference Job Title OR reference Contact Department and then filtered it by wanted country

In [16]:
df_bnf = df.loc[((df['Contact Department'].str.contains('(?i)bank|finance')) | (df['Job Title'].str.contains('(?i)risk|collection|collection\sstrategy|retail\slending|business\sdevelopment|cro')))] 
df_bnf

,Contact Country,Full Name,First Name,Last Name,Job Title,Contact Seniority,Contact Department,Organization Country,Organization Name,Organization Phone Number
0,Indonesia,Liem Fung,Liem,Fung,Business Development Director,Director,"Business Management, Transportation, Distribut...",Indonesia,Bmj,-
22,Singapore,Neville Lim,Neville,Lim,Audit Director,Director,Accounting and Finance,United States of America,Ups,+18007383388
23,Indonesia,Oki (Okki) Triana,Oki,(Okki) Triana,"Business Development Manager, Indonesia",Manager,"Business Management, Transportation, Distribut...",Singapore,Cummins,+6562613555
26,Singapore,Jean-Louis Cadart,Jean-Louis,Cadart,"Director, Customs Brokerage & Trade Services B...",Director,"Administration and Management, Marketing, Sale...",United States of America,Ups,+18007383388
56,Singapore,Huiping Loo,Huiping,Loo,"Head, GSC & KPC Finance Chongqing",Director,Finance Industry,Singapore,Neptune Orient Lines (Nol),+6562784900
58,Singapore,Wendy Ng,Wendy,Ng,Accounts Payable Manager,Manager,Accounting and Finance,Singapore,Goodpack Ibc (Singapore) Pte. Ltd.,+6563821788
72,Singapore,Choon Siong Yap,Choon,Siong Yap,"General Manager, Finance","CXO / C-Level, Manager",Finance Industry,Singapore,Sea Consortium Pte Ltd,+6562239033
88,Nigeria,Aminu Olakunle,Aminu,Olakunle,Chief Financial Officer,CXO / C-Level,"Accounting and Finance, Science, Mathematics, ...",Nigeria,Tiger Shipping Agencies Limited,+23412918654
98,Singapore,Tan Bee,Tan,Bee,Finance Director,Director,Finance Industry,Singapore,Cummins,+6562613555
117,Singapore,Union Low,Union,Low,Director Business Development,Director,"Business Management, Transportation, Distribut...",Singapore,Union Air Freight (Singapore) Pte Ltd,+6565453627
118,Singapore,YEE TI CHIN,YEE,TI CHIN,Accountant,Others,Accounting and Finance,Singapore,Donaldson Filtration (Asia Pacific) Pte Ltd,+6563117373
150,Singapore,Cindy Ng,Cindy,Ng,"Senior Manager, Account Management",Manager,Accounting and Finance,Singapore,Lf Logistics Services Pte. Ltd.,+6564307288
153,Belgium,Kenneth Kallstrom,Kenneth,Kallstrom,"VP, Enterprise Accounts Sales, Retail & High T...",Others,"Marketing, Sales and Advertisement, Hospitalit...",United States of America,Ups,+18007383388
187,Singapore,Jane Nga,Jane,Nga,Finance Manager,Manager,Finance Industry,Singapore,Goodpack Ibc (Singapore) Pte. Ltd.,+6563821788
189,Philippines,JackieYu (E-mail),JackieYu,(E-mail),VP Finance & ADM,VP / Vice President,Finance Industry,Philippines,Sky International Inc,-
192,United States of America,Ken Cook,Ken,Cook,Vice President - Global Treasury / Cash Manage...,VP / Vice President,"Accounting and Finance, Marketing, Sales and A...",United States of America,Ups,+18007383388

In [17]:
df_filtered = df_bnf[df_bnf['Contact Country'].str.contains('(?i)philippines|indonesia|thailand')]
df_filtered

,Contact Country,Full Name,First Name,Last Name,Job Title,Contact Seniority,Contact Department,Organization Country,Organization Name,Organization Phone Number
0,Indonesia,Liem Fung,Liem,Fung,Business Development Director,Director,"Business Management, Transportation, Distribut...",Indonesia,Bmj,-
23,Indonesia,Oki (Okki) Triana,Oki,(Okki) Triana,"Business Development Manager, Indonesia",Manager,"Business Management, Transportation, Distribut...",Singapore,Cummins,+6562613555
189,Philippines,JackieYu (E-mail),JackieYu,(E-mail),VP Finance & ADM,VP / Vice President,Finance Industry,Philippines,Sky International Inc,-

We only have 3 rows as a result, which is too little of data. 
In this case I think we should just provide only filtered by Contact Country

In [18]:
df = df[df['Contact Country'].str.contains('(?i)philippines|indonesia|thailand')]
df

,Contact Country,Full Name,First Name,Last Name,Job Title,Contact Seniority,Contact Department,Organization Country,Organization Name,Organization Phone Number
0,Indonesia,Liem Fung,Liem,Fung,Business Development Director,Director,"Business Management, Transportation, Distribut...",Indonesia,Bmj,-
1,Philippines,Fe Cabading,Fe,Cabading,Director,Director,Administration and Management,Singapore,We Supply,-
2,Philippines,Jasper Cabuntocan,Jasper,Cabuntocan,General Manager,"CXO / C-Level, Manager",Administration and Management,Philippines,Exelpack Corporation,-
4,Philippines,Steve Tavera,Steve,Tavera,Asst. To The President,CXO / C-Level,Administration and Management,Philippines,Philippine Plastics Industry Association,+6323611160
23,Indonesia,Oki (Okki) Triana,Oki,(Okki) Triana,"Business Development Manager, Indonesia",Manager,"Business Management, Transportation, Distribut...",Singapore,Cummins,+6562613555
27,Philippines,Suzie Mitchell,Suzie,Mitchell,Philippines Country Manager,Manager,Others,Singapore,Crown Lift Trucks,-
35,Philippines,Roderick Y Yu,Roderick,Y Yu,Vice President & COO,"VP / Vice President, CXO / C-Level",Operation and Engineering,Philippines,Sky International Inc,-
37,Philippines,Nolan Gara,Nolan,Gara,Independent Business Owner,Owner,"Business Management, Transportation, Distribut...",Singapore,Amway,+6565509950
41,Philippines,Glendale Santiago,Glendale,Santiago,"General Manager HR, Philippines, Indonesia And...","CXO / C-Level, Manager",Human Resource Management,Singapore,Lf Logistics Services Pte. Ltd.,+6564307288
45,Philippines,Jun Gadian,Jun,Gadian,"Head, Corporate EHS/facilities/security",Director,Healthcare,Singapore,Lf Logistics Services Pte. Ltd.,+6564307288
50,Indonesia,Fajar Arimbayu,Fajar,Arimbayu,Assistant Manager,Manager,Administration and Management,Singapore,Lf Logistics Services Pte. Ltd.,+6564307288
60,Indonesia,Dwi Iswahyono,Dwi,Iswahyono,Asst OPS Supervisor,Manager,Administration and Management,United States of America,Ups,+18007383388
65,Philippines,RJ Madamba,RJ,Madamba,President And Chief Operating Officer,CXO / C-Level,"Operation and Engineering, Business Management",Philippines,Lorenzo Shipping Corp,+63333373081
75,Philippines,Diofer Saldivar,Diofer,Saldivar,Independent Business Owner,Owner,"Business Management, Transportation, Distribut...",Singapore,Amway,+6565509950
76,Philippines,rene gabuat,rene,gabuat,Chief Engineer,Director,Administration and Management,Philippines,Aboitiz Jebsen Bulk Transport Corporation,+63285279987
84,Philippines,Francisco Magnifico,Francisco,Magnifico,Amway Business Owner,Owner,"Business Management, Transportation, Distribut...",Singapore,Amway,+6565509950
104,Indonesia,Endro Siswanto,Endro,Siswanto,"Utility, Electrical & Automation",Others,Operation and Engineering,Singapore,Kimberly-Clark Asia Pacific Pte. Ltd.,+6565895100
110,Philippines,Manuel Ochoa,Manuel,Ochoa,Chief Engineer Owners Representative,"Director, Owner",Administration and Management,Singapore,Ch Offshore Ltd,+6568611711
127,Indonesia,Andreas Hutasoit,Andreas,Hutasoit,"Country Head Dept, Brokerage And International...",Director,"Marketing, Sales and Advertisement, Operation ...",United States of America,Ups,+18007383388
142,Philippines,joelito arceo,joelito,arceo,Chief Engineer,Director,Administration and Management,Philippines,Aboitiz Jebsen Bulk Transport Corporation,+63285279987
143,Philippines,Chris Ricafort,Chris,Ricafort,General Manager,"CXO / C-Level, Manager",Administration and Management,Singapore,Lf Logistics Services Pte. Ltd.,+6564307288
165,Philippines,Michael Devries,Michael,Devries,Director,Director,Administration and Management,Indonesia,Pt. Silo,+628115014084
172,Philippines,Nelson Cruz,Nelson,Cruz,Chief Cook,Director,"Hospitality, Tourism, and Customer Service",Philippines,Aboitiz Jebsen Bulk Transport Corporation,+63285279987
181,Philippines,Elena Venezuela,Elena,Venezuela,HR Manager,Manager,Human Resource Management,Philippines,Sky International Inc,-
182,Philippines,Lorie Dolot,Lorie,Dolot,Independent Business Owner,Owner,"Business Management, Transportation, Distribut...",Singapore,Amway,+6565509950
184,Philippines,Jocelyn Ilagan,Jocelyn,Ilagan,Executive Secretary,Others,Administration and Management,Philippines,Sky International Inc,-
188,Philippines,Robert Yu,Robert,Yu,President & CEO,CXO / C-Level,Administration and Management,Philippines,Sky International Inc,-
189,Philippines,JackieYu (E-mail),JackieYu,(E-mail),VP Finance & ADM,VP / Vice President,Finance Industry,Philippines,Sky International Inc,-
190,Philippines,Allan De Leon,Allan,De Leon,IT Programmer,Others,IT,Philippines,Sky International Inc,-

#### Duplicated Rows

In [19]:
duplicateRows = df[df.duplicated()]
duplicateRows

Empty DataFrame
Columns: [Contact Country, Full Name , First Name, Last Name, Job Title, Contact Seniority, Contact Department, Organization Country, Organization Name, Organization Phone Number]
Index: []

No duplicate rows, so no need to handle this

### Saving the Clean csv

In [20]:
df.to_csv(r'LB_Task1_CLEANED.csv')